# Build
#VS
.vs/
Debug/
Release/
# Netbeans
nbproject/
*.user
*.filters
*.vcxproj
*.sln

# Cmake
build
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!assets/models/*/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
